<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'message/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<title>
  Adios Amigos
</title>
</head>
<body>
  <div id="maintitle">
    Dear Seniors,<br>As you finish your jounery and move on to the next stage of your lives,<br> we'd like to share our good wishes with you.
  </div>
<br><br><br>
    <table align="center">
      <tr><td>
        Is this the first time you are visiting?<br>
<a href="reg">Sign Up</a></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>
  Already registered?<br>
<a href="login">Login</a>
</td>
</body>
</html>
