<html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'message/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<title>
  Adios Amigos
</title>
</head>
<body>
  <div id="maintitle">
    Hey Guys!<br>As our final years finish their jounery and move on to the next stage of their lives let us share with them our good wishes. You can choose whoever you'd like to send a message to. Your identity will not be revealed :) unless you include your name in the message :P So please share your thoughts :D 
  </div>
{% if final_list %}
  <div id="items">
    <table><tr>
    {% for item in final_list %}
        <td><a href="{{ item.id }}">{{ item.name }}</a></td>
        {% if forloop.last %}
          </tr>
        {% else %}
          {% if forloop.counter|divisibleby:"3" %}
            </tr><tr>
          {% endif %}
        {% endif %}
    {% endfor %}
  </table>
</div>
{% endif %}
</body>
</html>
