<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'message/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<title>
Thank you!
</title>
</head>
<body>
<h3 id="maintitle">Thank You! Go ahead and write another message if you wish :)</h3>
<a href = "/message" style="margin-left: 700px;">Write another message</a>
</body>
</html>
