<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'message/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<title>
Thank you!
</title>
</head>
<body>
<h3 id="maintitle">Dear {{ nam.name }},<br/><br/> It's hard to say Goodbye,<br/>But the 'good' in it is,</br>A promise of something better :)</h3>
<div id="items">
Here are a few heartfelt wishes from your loving juniors.
{% for message in messages %}
  <p> {{ message.message }}</p>
{% endfor %}
We will miss you :')
</div>
</body>
</html>
