<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'message/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <title>{{ item.first_name }}'s Corner</title>
</head>
<body>
<h3 id="maintitle">Would you like to say something to {{ item.first_name }}?</h3>

<form action="{% url 'submit' item.id %}" method="post">
{% csrf_token %}
    <textarea name="msg" rows="5" cols="110"></textarea></div><br>
<input  type="submit" value="Submit" />
</form>
</body>
</html>
