body{
  background-image: url("images/adios.jpg");
  background-position: top ;
  background-repeat: no-repeat;

}

#items{
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

#maintitle{
  text-align: center;
  color: black;
  font-size: 30;
  font-family: 'Merriweather', serif;
}
a{
  font-size: 25;
}
textarea{
  border: 3px;
  border-style: double;
  border-color: #EA7F31;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
input[type=submit]{
  margin-top: 10px;
  width: 20em;
  height: 2em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
h2{
  text-align: center;
}
#instructions{
  text-align: center;
}
table{
  font-size: 25;
  margin-top: 200;
}
