body{
  background-image: url("images/adios.jpg");
  background-position: top ;
  background-repeat: no-repeat;

}

#items{
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

#maintitle{
  text-align: center;
  color: black;
  font-size: 30;
  font-family: 'Merriweather', serif;
}
a{
  font-size: 25;
}
#who{
  border: 3px;
  border-style: double;
  border-color: #EA7F31;
}
input[type=submit]{
  margin-top: 10px;
  width: 20em;
  height: 2em;
}
