body{
  background-image: url("images/adios.jpg");
  background-position: top;
  background-repeat: no-repeat;

}

#items{
  padding-left: 400px;
  padding-right: 300px;
  font-family: 'Roboto Slab', serif;
}

#maintitle{
  text-align: center;
  color: black;
  padding-top: 50px;
  padding-left: 300px;
  padding-right: 300px;
  font-size: 30;
  font-family: 'Merriweather', serif;
}
a{
  font-size: 25;
}
#who{
  margin-left: 400px;
  padding-right: 600px;
  height: 100px;
  border: 3px;
  border-style: double;
  border-color: #EA7F31;
}
#sb{
  margin-top: 10px;
  margin-left: 650px;
  width: 20em;
  height: 2em;
}
